@font-face{
    font-family:flamouse ;
    src: url(../fonts/Flamouse\ Personal\ Use\ Only.ttf);
}
@font-face{
    font-family:storm;
    src: url(../fonts/SevenAndStorm_Ektor_TB.otf);
}

body{
    background-color:  rgb(102, 118, 212);
}
body::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/basket-removebg-preview.png) url(../img/love-removebg-preview.png);
}
h1{
    font-size: 26px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    font-family: storm;
    font-weight: 600px;
    text-transform: uppercase;
}
h2{
    font-size: 26px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    font-family: storm;
    font-weight: 600px;
    text-transform: uppercase;
}
h3{
    font-size: 26px;
    line-height: 32px;
    color: white;
    font-family: storm;
    font-weight: 600px;
    text-transform: uppercase;
}
p{
    font-size: 20px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    
}
a{
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    font-family: storm;
    cursor: pointer;
}
.main-header{
    width: 100%;
    height: 60px;
    background-color:  rgb(190, 160, 160);
    justify-content: space-between;     
    display: flex;
    position: fixed;
    z-index: 1000;
}
.main-header-logo{
    width: fit-content;
    height: 80px;
    display: flex;
    padding-left: 60px;
}
.main-header-logo img{
    height: 50px;
    align-self: center;
    margin-bottom: 20px;
}
.main-header-nav{
    width: fit-content;
    height: 80px;
   justify-content: center;
   align-content: space-between;
   padding-left: 50px;
}
.main-header-nav ul{
    list-style: none;
}
.main-header-nav ul li{
   display: inline;
   float: left;
}
.main-header-nav ul li a{
    line-height: 70px;
    padding: 0 50px;
    font-family:flamouse;
}
.main-header-nav ul li a:hover{
    color: rgb(0, 17, 255);
}
.main-header-sm{
    width: fit-content;
    height: 80px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-right: 40px;
}
.sm-basket{
    width: 30px;
    height: 30px;
    background-image: url(../img/basket-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.sm-basket:hover{
    color: rgb(255, 255, 255);
}
.sm-love{
    width: 30px;
    height: 30px;
    background-image: url(../img/love-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.sm-love:hover{
    color: rgb(228, 221, 208);
}

